body{
    background-color: #efefbb;
    color: white;
    margin: 0;
    font-family: sans-serif;
    background: linear-gradient(to right,rgb(197,230,236), rgb(239,187,230));
}

.container{
    padding: 40px;
    margin: 0 auto;
}

h1{
    text-align: center;
    font-size: 54px;
}

.cartao{
    margin: 10px;
    display: inline-block;
    align-items: center;
    border: 10px black;
}